.btn-buscar
{
	align-items: flex-end;
	color:#C78EFF;
	border:solid 1px #C78EFF;

}
.btn-primary{
	background-color: #C78EFF;
}

#hero
{
	text-align: center;
	background-image: url("Bee 🐝/WhatsApp Image 2023-03-15 at 1.43.22 AM.jpeg");
	padding-bottom: 100px;
	padding-top: 100px;
	opacity: 65%;
	color: #FFFFFF;
	width: inherit;
	background-size: cover;
	background-position: center;
	

}

#hero h1{
	font-size: 150px;
	font-weight: 700;
	color: #fff;
	text-shadow: 2px 2px 5px #000;
}
#hero p{
	font-size: 40px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #000;
}
#features{
	padding-top: 50px;
	text-align: center;
}
#features h3{
	padding-top: 20px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px; 
	color: #C78EFF;
}
#features p{
	margin-right: 2%;
	margin-left: 2%;
}
#Carousel{
	padding-top: 40px;
}
#Carousel h1{
	font-size: 30px;
	font-weight: 600;
	text-align: center;
	letter-spacing: 2px;
	background-color: #C78EFF;
	padding-bottom: 10px;
	padding-top: 10px;
	color: ghostwhite;
}
#hero4 h1{
	font-size: 60px;
	font-weight: 600;
	text-align: center;
	letter-spacing: 4px;
	padding-top: 10px;
	color: #C78EFF;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  opacity: 50%;
}
#hero4{
	background-color: antiquewhite;
}
#hero4 h3{
	text-align: center;
	padding-top: 20px;
	font-size: 25px;
	font-weight: 100;
}
#hero4 h4{
	text-align: center;
	padding-top: 20px;
	font-weight: 350; 
}
#hero4 h5{
	text-align: center; 
	padding-top: 50px;
	font-size: 25px;
	font-weight:350; 
	padding-bottom: 80px;
}
#hero3 h1{
	text-align: center; 
	padding-top: 50px; 
	letter-spacing: 5px; 
	color:#C78EFF; 
	font-weight: 600;
	padding-bottom: 15px;
}
#hero3{
	background-color: antiquewhite; 
}
.center3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
	height: 337px;
	object-fit: cover;
}
#hero3 h3{
	text-align: center;
	padding-top: 10px;
	font-weight: 650;
	color: #000;
}
#hero3 p{
	text-align: center;
	text-indent: inherit; 
	padding-left: 450px;
	padding-right: 450px;
	padding-bottom: 15px;
	font-size: 24px;
}
.la-instagram{
	color: #000;
	font-size: 50px;
}
.la-facebook-f{
	color: #000;
	font-size: 50px;
}
.la-twitter{
	color: #000;
	font-size: 50px;
}
.la-youtube{
	color: #000;
	font-size: 50px;
}
.footer{
	text-align: center;
}
.container3 {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(3, 1fr);
			grid-gap: 60px;
			margin: 50px auto;
			max-width: 800px;
		}
		.box {
			background-color: #C78EFF;
			padding: 20px;
			text-align: center;
			border: 1px solid #ccc;
			position: relative;
		}
		.box h2 {
			margin-top: 0;
		}
		.box p {
			margin-bottom: 0;
		}
.box img {
  max-width: 100%;
  height: auto;
}
#features h1{
	font-size: 30px;
	font-weight: 600;
	text-align: center;
	letter-spacing: 2px;
	background-color: #C78EFF;
	padding-bottom: 10px;
	padding-top: 10px;
	color: ghostwhite;
	text-transform: uppercase;
}
#row{
	padding-top: 50px;
	text-align: center;
}
#row h3{
	padding-top: 20px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px; 
	color: #C78EFF;
}
h2{
	background-color: antiquewhite; 
    font-size: 22px; 
	padding: 2px;
}
#redes{
	padding-top: 100px; 
}
